.list {
	width: 300px;
}

.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.item {
	flex: 1;
	display: flex;
	margin: 2px 0;
	padding: 0 16px;
	flex-direction: row;
	align-items: center;
	font-size: larger;
	color: rgba(160, 90, 0, 60%);
	font-weight: 700;
	overflow: hidden;
	border-radius: 6px;
	background-color: rgb(255, 204, 0);
	border: 3px solid rgba(160, 90, 0, 60%);
	height: 60px;
}

.item-dragging {
	opacity: 0.5;
}

.item-overlay {
	cursor: grabbing;
}

.item-background {
	opacity: 0.5;
	height: auto;
}

.item svg {
	margin-right: 8px;
	height: 36px;
	min-width: 36px;
}
