.row {
	min-height: 70px;
}

.row-content-wrapper {
	border-bottom: 1px solid rgb(72, 72, 74);
}

.row-sidebar {
	flex: 1;
	text-transform: capitalize;
	width: 200px;
	display: flex;
	padding: 0 20px;
	flex-direction: row;
	align-items: center;
	font-size: larger;
	color: rgb(209, 209, 214);
	font-weight: 700;
	background-color: rgb(58, 58, 60);
	height: 100%;
	border-right: 1px solid black;
}

.subrow {
	position: relative;
	height: 70px;
}

.item {
	flex: 1;
	display: flex;
	margin: 2px 0;
	padding: 0 16px;
	flex-direction: row;
	align-items: center;
	font-size: larger;
	color: rgba(160, 90, 0, 60%);
	font-weight: 700;
	overflow: hidden;
	border-radius: 6px;
	background-color: rgb(255, 204, 0);
	border: 3px solid rgba(160, 90, 0, 60%);
	height: 60px;
}

.item-dragging {
	opacity: 0.5;
}

.item-overlay {
	cursor: grabbing;
}

.item-background {
	opacity: 0.5;
	height: auto;
}

.item svg {
	margin-right: 8px;
	height: 36px;
	min-width: 36px;
}
